<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connString" value="server=192.168.5.168;User Id=root;password=admin;Database=rayzer_irl;Charset=utf8" />
    <add key="filePath" value="D:\FBT\" />
    <add key="level_IL" value="58" />
    <add key="level_RL" value="58" />
    <add key="portBand" value="zwd"/>
    <add key="reflesh" value="500" />
    <add key="times" value="40" />
  </appSettings>
</configuration>